<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Map</title>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=7b3fe371cdea794888ee5e466db86ab3"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="./css/maps.css">
</head>
<body>
    <div id="app">
        <div v-if="timeLine.length == 0" style="display: flex;justify-content: center;padding: 20px 0;">
            <h1>{{tipsMsg}}</h1>
        </div>
        <!--时间轴区域-->
        <div class="time" v-if="timeLine.length>0">
            <div class="timeLine">
                <div v-for="(item,index) in timeLine" :key="index" style="flex:1;display:flex">
                    <div :class="{lineOut:index!=0,lineIndex:index==0}" v-if="index!==0">
                        <div v-if="findex==0" :class="{nocomL:index-1<=findex,nocomL:index-1>=findex+1}"></div>
                        <div v-else :class="{line:index-1<=findex,nocomL:index-1>=findex+1}"></div>
                    </div>
                    <div class="mainInfo" @click="item.isShow=!item.isShow">
                        <div class="point" :class="{nocom:!item.nodeTime}">
                            <div>{{ item.wayNodeName }}</div>
                            <div>
                                <img :src="item.wayNodeImg" />
                            </div>
                            <div>{{ item.nodeTime }}</div>
                        </div>
                        <div class="info_card" v-if="item.isShow">
                            <div>时间：{{ item.nodeTime }}</div>
                            <div>地址：{{ item.address }}</div>
                        </div>
                    </div>
                    <div :class="{lineOut:index!=timeLine.length-1,lineIndex:index==timeLine.length-1}">
                        <div :class="{line:item.nodeTime,nocomL:!item.nodeTime&&index<=timeLine.length-2}"></div>
                    </div>
                </div>
            </div>
            <div class="timeNode">
                <div style="font-size: 13px;">最晚到货日期<br>{{ lastArriverDate }}<br></div>
                <div style="font-size: 13px;"><br>计划到达时间<br>{{ exArriverDate }}</div>
            </div>
        </div>
        <!--地图轨迹区域-->
        <div id="mapId" style="width:100%; height:1000px;"></div>
    </div>
</body>
</html>
<script src="./api/maps.js"></script>
