<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<script src="./js/vue.js"></script>
		<style>
			#app {
				display: flex;
				flex-direction: column;
				max-width: 300px;
				margin: auto;
				gap: 10px;
			}
			input[type='number'],
			input[type='text'] {
				width: 100%;
				padding: 8px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<label for="electricityPrice">电价</label>
			<input type="number" id="electricityPrice" v-model="electricityPrice">
			<label for="consumption">综合工况电能消耗量</label>
			<input type="number" id="consumption" v-model="consumption">
			<label for="estimatedCost">预估能源成本</label>
			<input type="text" id="estimatedCost" :value="estimatedCost" disabled>
		</div>
		<script>
			// Vue实例：
			new Vue({
				el: '#app',
				data() {
					return {
						//电价，默认值为0 
						electricityPrice: 0,
						//消耗量，默认值为0 
						consumption: 0 
					}
				},
				computed: {
					estimatedCost: function() {
						// 计算预估成本，电价乘以消耗量 
						return this.electricityPrice * this.consumption; 
					}
				}
			})
		</script>
	</body>
</html>